<%= @game.player_1.name %> attacked <%= @game.player_2.name %>

<h3>Hitpoints</h3>


<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP vs <%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
